<mat-toolbar color="primary">
  Lista de Compras
</mat-toolbar>
<mat-card class="container">
  <mat-form-field>
    <input matInput placeholder="Nombre del producto" #productName />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Precio" #productPrice />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Cantidad" #productQuantity />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Descuento (%)" #productDiscount />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addItem(productName.value, +productPrice.value, +productQuantity.value, +productDiscount.value)">
    Agregar
  </button>
  <button mat-raised-button color="warn" (click)="clearList()">Limpiar Lista</button>
  <dialog-elements-example> Limpiar Lista</dialog-elements-example>
</mat-card>
<mat-list>
  <mat-list-item *ngFor="let item of items; let index = index" >
    <mat-checkbox [(ngModel)]="item.purchased" (ngModelChange)="calculateTotal()">
      {{ item.name }} ({{ item.quantity }} x {{ item.price | currency }}, Descuento: {{ item.discount }}%)
    </mat-checkbox>
    <button mat-raised-button color="warn" (click)="clearElement(index)">Limpiar item</button>
  </mat-list-item>
</mat-list>
<div class="total-container">
  Total: {{ total | currency }}
</div>
